{% extends 'base.html' %}

{% block title %}Leaderboard{% endblock %}

{% block content %}
<style>
.left-nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: auto;
    height: auto;
    overflow-y: hidden;
    padding-top:20px;
    padding-right: 1rem;
    padding-left: -5px;
    border-right: 1px solid #08778b;
    background-color: #f8f9fa;
    margin-top: 55px;
}
body {
            padding-top:0px; /* Adjusted to accommodate the fixed navbar and provide space */
            margin: 0;
        }

 .content {
            margin-top: 20px;
            padding-left: 45px; /* Adjusted for the left-nav width and additional space */
        }
.navbar-right {
            margin-left: auto;
            padding-left: auto;
            padding-right: 12%;
        }       
        
        .navigation-buttons {
    margin-top: 10px;
    padding-left: 80px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ddddddb6;
}
</style>
    <div class="container mt-5 content">
    <table>
    <tr>
        <th>Rank</th>
        <th>Username</th>
        <th>Total Points</th>
    </tr>
    {% for user in leaderboard_data %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.points }}</td>
    </tr>
    {% endfor %}
    </table>

<a href="{{ url_for('game_index_route') }}">Back to Game</a>

</div>
{% endblock %}