{% extends 'base.html' %}

{% block title %}Password scenario{% endblock %}

{% block content %}
<style>
.left-nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: auto;
    height: auto;
    overflow-y: hidden;
    padding-top:20px;
    padding-right: 1rem;
    padding-left: -5px;
    border-right: 1px solid #08778b;
    background-color: #f8f9fa;
    margin-top: 55px;
}
body {
            padding-top:0px; /* Adjusted to accommodate the fixed navbar and provide space */
            margin: 0;
        }

 .content {
            margin-top: 20px;
            padding-left: 45px; /* Adjusted for the left-nav width and additional space */
        }
.navbar-right {
            margin-left: auto;
            padding-left: auto;
            padding-right: 12%;
        }       
        
        .navigation-buttons {
    margin-top: 10px;
    padding-left: 80px;
}
</style>
    <div class="container mt-5 content">
    <h1>Password Scenario</h1>
    <form method="post">
        <p>{{ question }}</p>
        <input type="radio" name="choice" value="insecure"> Use personal information as your password e.g your name and date of birth<br>
        <input type="radio" name="choice" value="threat"> Using the same password in all accounts you use to avoid forgetting<br>
        <input type="radio" name="choice" value="secure"> Use a password of 10 characters and above, using alphabets, numbers, and symbols<br>
        <input type="hidden" name="username" value="{{ request.args.get('username') }}">
        <button type="submit">Submit</button>
    </form>
    {% if scenario_result %}
        <h2>Result:</h2>
        <p>{{ scenario_result.result_text }}</p>
        <a href="{{ url_for('game_summary_route', username=scenario_result.username) }}">Proceed to thenext scenario</a>
    {% endif %}
</div>
{% endblock %}
