<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.9/angular.min.js"></script>
    <title>Registration</title>
 <style>
body {
   font-family: Arial, sans-serif;
   background-color: #f4f4f4;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

form {
    border: 3px solid #f1f1f1;
        }

 button {
  background-color: #0468aa;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}


.container {
 padding: 16px;
}
    </style>
</head>
<body ng-app="">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center mb-4">Registration Form</h2>
                <p>Please fill in this form to create an account to gain access to the SAT platform.</p>
                <form action="{{ url_for('register') }}" method="post" name="myForm">
                    <div class="form-group mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
                    </div>
                    <div class="form-group mb-3 position-relative">
                        <label for="password" class="form-label"><b>Password:</b></label>
                        <input type="password" class="form-control" id="password" name="password" ng-model="password" placeholder="Enter your password" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="repeat-password" class="form-label"><b>Repeat Password:</b></label>
                        <input type="password" class="form-control" id="repeat-password" name="repeat-password" ng-model="repeatPassword" placeholder="Repeat your password" required>
                        <p id="password-error-message" style="color:red; display: none;"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label for="username" class="form-label"><b>Username:</b></label>
                        <input type="username" class="form-control" id="username" name="username" placeholder="Enter your username" required>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        document.querySelector('form').addEventListener('submit', function (event) {
            if (document.getElementById('password').value !== document.getElementById('repeat-password').value) {
                document.getElementById('password-error-message').innerText = 'Passwords do not match.';
                document.getElementById('password-error-message').style.display = 'block';
                event.preventDefault();
            }
            else {
                document.getElementById('password-error-message').style.display = 'none';
            }
        });
    </script>
</body>
</html>