body {
    padding-top:20px; /* Adjusted to accommodate the fixed navbar and provide space */
    margin: 0;
}

.navbar-brand {
    font-size: 1.0em;
    color: #bd3232; /* Color of brand in the sidebar */
}

.navbar {
    position:fixed;
    padding: auto;
    top: 0px;
    height: auto;
    width: auto;
    z-index: 100;
   
}


.content {
    margin-top: 20px;
    padding-right: 10px;
    padding-left: 80px; /* Adjusted for the left-nav width and additional space */
}

.card {
    margin-bottom: 20px;
}

.left-nav {
    position:fixed;
    top: auto;
    left: auto;
    bottom: auto;
    width: auto;
    height: auto;
    overflow-y: hidden;
    padding: top 0%;;
    padding-right: 1rem;
    padding-left: 1rem;
    border-right: 1px solid #08778b;
    background-color: #f8f9fa;
    margin-top:0px;
}

.navbar-right {
    margin-left: auto;
    padding-left: auto;
    padding-right: 22%;
}

/* Added styles for back and forward buttons */
.navigation-buttons {
    margin-top: 10px;
    padding-left: 80px;
}
.collapse{
    display: block;
}
